<!DOCTYPE html>

<html>
<head>
    <link href="/style.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <header>
      <h1 class="family1">Instructions</h1>
      <p>&copy;Mae Laws</p>
    </header>
    <!--column 1-->
    <div class="column1">
      <h1 class="family1">Table of Contents:</h1>
        <div class="box">
          <p class="family3"> Choose what mad-lib you would like to do! </p>
        </div>
        <ul>
          <li><a href="/index">Instructions Page</a></li>
          <li><a href="/award_ceremonies">Award Ceremonies</a></li>
          <li><a href="/bowl_games">Bowl Games</a></li>
          <li><a href="/christmas_blizzard">Christmas Blizzard</a></li>
          <li><a href="/christmas_clothing">Christmas Clothing</a></li>
          <li><a href="/christmas_cookies">Christmas Cookie</a></li>
          <li><a href="/christmas_dinner">Christmas Dinner</a></li>
          <li><a href="/christmas_july">Christmas July</a></li>
          <li><a href="/christmas_pageant">Christmas Pageant</a></li>
          <li><a href="/christmas_shopping">Christmas Shopping</a></li>
          <li><a href="/christmas_vacation">Christmas Vacation</a></li>
          <li><a href="/christmas_solo">Christmas Solo</a></li>
          <li><a href="/dancing_cool">Dancing Cool</a></li>
          <li><a href="/decorating_tree">Decorating Tree</a></li>
          <li><a href="/figure_skating">Figure Skating</a></li>
          <li><a href="/going_caroling">Going Caroling</a></li>
          <li><a href="/happy_messages">Happy Messages</a></li>
          <li><a href="/holiday_traveling">Holiday Traveling</a></li>
          <li><a href="/hot_chocolate">Hot Chocolate</a></li>
          <li><a href="/igloo_facts">Igloo Facts</a></li>
          <li><a href="/lodge">Lodge</a></li>
          <li><a href="/music">Music</a></li>
          <li><a href="/naughty_list">Naughty List</a></li>
          <li><a href="/nutcracker">Nutcracker</a></li>
          <li><a href="/popular_gifts">Popular Gifts</a></li>
          <li><a href="/reindeer">Reindeer</a></li>
          <li><a href="/school_party">School Party</a></li>
          <li><a href="/selecting_tree">Selecting Tree</a></li>
          <li><a href="/skating_champ">Skating Champ</a></li>
          <li><a href="/snow_day">Snow Day</a></li>
          <li><a href="/snowboarding">Snowboarding</a></li>
          <li><a href="/snowboarding_instruct">Snowboarding Instruct</a></li>
          <li><a href="/snowed_in">Snowed In</a></li>
          <li><a href="/snowman_building">Snowman Building</a></li>
          <li><a href="/specialty_house">Specialty House</a></li>
          <li><a href="/toys_kids">Toys Kids</a></li>
          <li><a href="/transylvanian">Transylvanian</a></li>
          <li><a href="/tropical_christmas">Tropical Christmas</a></li>
          <li><a href="/weather_report">Weather Report</a></li>
          <li><a href="/winter_game">Winter Game</a></li>
          <li><a href="/word_games">Word Games</a></li>
          <li><a href="/wrap_present">Wrap Present</a></li>
        </ul>
    </div>
    <!--column 2-->
    <div class="column2">
      <div class="box">
        <p>MAD LIBS is a game for people who don't like games! It can be played by one, two, three, four, or forty people.</p>
        <ul>
          <li class="family6"><b class="family5">Ridiculously Simple Directions:</b> In this program you will find stories containg blank spaces where words are left out. One player, the <b class="family5">Reader</b>, selects one of these stories. The <b class="family5">Reader</b> does not tell anyone what the story is about. Instead they ask the other players, the <b class="family5">Writers</b>, to give them words. These words are used to fill in the blank spaces in the story.</li>
          <li class="family6"><b class="family5">To Play:</b> The <b class="family5">Reader</b> ask each <b class="family5">Writer</b> in turn to call out a word, it can be a adjective or a noun or whatever the spaces calls for and uses them to fill in the blank spaces in the story. The result is a MAD LIBS game.</li>
          <li class="family6"><b class="family5">Example Before:</b><input type="text" name="exclamation" size="15" maxlength="30" placeholder="exclamation!"/> he said <input type="text" name="adverb" size="15" maxlength="30" placeholder="adverb"/> as he jumped into his convertible <input type="text" name="noun" size="15" maxlength="30" placeholder="noun"/> and drove off with his <input type="text" name="adjective" size="15" maxlength="30" placeholder="adjective"/> wife.</li><p><input type="submit" value="Submit" /></p>
          <li class="family6"><b class="family5">Example After:</b><input type="text" name="exclamation" size="15" maxlength="30" placeholder="ouch!"/> he said <input type="text" name="adverb" size="15" maxlength="30" placeholder="stupidly"/> as he jumped into his convertible <input type="text" name="noun" size="15" maxlength="30" placeholder="cat"/> and drove off with his <input type="text" name="adjective" size="15" maxlength="30" placeholder="brave"/> wife.</li><p><input type="submit" value="Submit" /></p>
        </ul>
      </div>
    </div>
    <!--column 3-->
  <div class="column3">
    <div class="box">
      <p class="family3">An <b class="family2">Adverb</b> tells how something is done. It modifys a verb and usually ends in ly. <ins class="family4">Modestly, stupidly, and carefully</ins> are <b class="family2">adverb.</b></p>
    </div>
    <div class="box">
      <p class="family3">A <b class="family2">Noun</b> is the name of a person, place, or thing. <ins class="family4">Sidewalks, umbrella, bridle, bathtub, and nose</ins> are <b class="family2">noun.</b></p>
    </div>
    <div class="box">
      <p class="family3">A <b class="family2">Verb</b> is an action word. <ins class="family4">Run, pitch, jump and swim</ins> are <b class="family2">verbs.</b> Put <b class="family2">verbs</b> in past tense if the direction says PAST TENSE. <ins class="family4">Ran, pitched, jumped, and swam</ins> are <b class="family2">verbs</b> in past tense.</p>
    </div>
    <div class="box">
      <p class="family3">A <b class="family2">Adjective</b> describes something or somebody. <ins class="family4">Lumpy, soft, ugly, messy, and short</ins> are <b class="family2">Adjective</b>
    </div>
  </div>
</body>
</html>