a:visited {
    color: black;
}

a:hover {
    color: greenyellow;
    text-decoration: underline
}

a:active {
    color:goldenrod
}

body {
    background-color: cornsilk;
}

h1.family1 {
    color: paleturquoise;
    background-color: seagreen;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
  font-family: Times, serif;
}

b.family2 {
    color:blueviolet
}

.family4 {
    color: rgb(174, 6, 34);
    text-decoration: underline;
}

b.family5 {
    color: blue;
}

li.family6 {
    color: black;
}

div.box {
    text-align: center !important;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    color: #083D28;
    background-color: #f9d02a;
    padding: 20px;
    width: 275px;
    border-radius: 10px;
    border: 3px dotted deepskyblue;
    margin: 0 auto;
}

li {
    color: rgb(239, 33, 33);
}

a {
    color: rgb(234, 19, 231);
}

ul {
    list-style-type: circle;
}


p {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(12, 8, 233);
}

::placeholder {
    font-size: smaller;
}

.column1 {
    float: left;
    width: 300px;
    margin: 10px;
}

.column2 {
    float: left;
    width: 620px;
    margin: 10px;}

.column3 {
    float: left;
    width: 300px;
    margin: 10px;
}

legend {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: rgba(114, 21, 109, 0.884);
}

label {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(71, 24, 241);
}