<!DOCTYPE html>

<html>

<head>
  <link href="/style.css" type="text/css" rel="stylesheet">
</head>

<body>
  <header>
    <h1 class="family1">A Christmas Blizzard</h1>
    <p>&copy; Mae Laws & Happyface</p>
  </header>
  <!--Column 1-->
  <div class="column1">
    <h1 class="family1">Table of Contents:</h1>
      <div class="box">
        <p class="family3"> Choose what mad-lib you would like to do! </p>
      </div>
      <ul>
        <li><a href="/index">Instructions Page</a></li>
        <li><a href="/award_ceremonies">Award Ceremonies</a></li>
        <li><a href="/bowl_games">Bowl Games</a></li>
        <li><a href="/christmas_blizzard">Christmas Blizzard</a></li>
        <li><a href="/christmas_clothing">Christmas Clothing</a></li>
        <li><a href="/christmas_cookies">Christmas Cookie</a></li>
        <li><a href="/christmas_dinner">Christmas Dinner</a></li>
        <li><a href="/christmas_july">Christmas July</a></li>
        <li><a href="/christmas_pageant">Christmas Pageant</a></li>
        <li><a href="/christmas_shopping">Christmas Shopping</a></li>
        <li><a href="/christmas_vacation">Christmas Vacation</a></li>
        <li><a href="/christmas_solo">Christmas Solo</a></li>
        <li><a href="/dancing_cool">Dancing Cool</a></li>
        <li><a href="/decorating_tree">Decorating Tree</a></li>
        <li><a href="/figure_skating">Figure Skating</a></li>
        <li><a href="/going_caroling">Going Caroling</a></li>
        <li><a href="/happy_messages">Happy Messages</a></li>
        <li><a href="/holiday_traveling">Holiday Traveling</a></li>
        <li><a href="/hot_chocolate">Hot Chocolate</a></li>
        <li><a href="/igloo_facts">Igloo Facts</a></li>
        <li><a href="/lodge">Lodge</a></li>
        <li><a href="/music">Music</a></li>
        <li><a href="/naughty_list">Naughty List</a></li>
        <li><a href="/nutcracker">Nutcracker</a></li>
        <li><a href="/popular_gifts">Popular Gifts</a></li>
        <li><a href="/reindeer">Reindeer</a></li>
        <li><a href="/school_party">School Party</a></li>
        <li><a href="/selecting_tree">Selecting Tree</a></li>
        <li><a href="/skating_champ">Skating Champ</a></li>
        <li><a href="/snow_day">Snow Day</a></li>
        <li><a href="/snowboarding">Snowboarding</a></li>
        <li><a href="/snowboarding_instruct">Snowboarding Instruct</a></li>
        <li><a href="/snowed_in">Snowed In</a></li>
        <li><a href="/snowman_building">Snowman Building</a></li>
        <li><a href="/specialty_house">Specialty House</a></li>
        <li><a href="/toys_kids">Toys Kids</a></li>
        <li><a href="/transylvanian">Transylvanian</a></li>
        <li><a href="/tropical_christmas">Tropical Christmas</a></li>
        <li><a href="/weather_report">Weather Report</a></li>
        <li><a href="/winter_game">Winter Game</a></li>
        <li><a href="/word_games">Word Games</a></li>
        <li><a href="/wrap_present">Wrap Present</a></li>
      </ul>
  </div>
  <!--Column 2-->
  <div class="column2">
    <div class="box">
      <p class="family3">
        Have you been dreaming of a/an <span class="family4">{{ .Adjective1 }}</span> Christmas? Me too! But what 
        do you do when there is a/an <span class="family4">{{ .Adjective2 }}</span> blizzard and
        you and your <span class="family4">{{ .PluralNoun }}</span> get snowed in on Christmas?
        Here's a/an <span class="family4">{{ .Adjective3 }}</span> list of classic Christmas
        movies that'll keep everyone <span class="family4">{{ .IngVerb }}</span>
        for hours.
      </p>
      <ul>
        <li class="family9"><i>It's a/an <span class="family4">{{ .Adjective4 }}</span> Life</i></li><br>
        <li class="family9"><i>Miracle on 34th <span class="family4">{{ .Noun1 }}</span></i></li><br>
        <li class="family9"><i>A Christmas <span class="family4">{{ .Noun2 }}</span></i></li><br>
        <li class="family9"><i>How the <span class="family4">{{ .Noun3 }}</span> Stole Christmas</i></li><br>
        <li class="family9"><i>Frosty the Snow-<span class="family4">{{ .Noun4 }}</span></i></li>
      </ul>
      <p class="family3">
        So just grab some pop-<span class="family4">{{ .Noun5 }}</span>, throw a few more logs on
        the <span class="family4">{{ .Noun6 }}</span>, and keep dreaming of a/an <span class="family4">{{ .Adjective5 }}</span>
        white Christmas!
      </p>
    </div>
  </div>
  <!--Column 3-->
  <div class="column3">
    <div class="box">
      <p class="family3">An <b class="family2">Adverb</b> tells how something is done. It modifys a verb and usually ends in ly. <ins class="family4">Modestly, stupidly, and carefully</ins> are <b class="family2">adverb.</b></p>
    </div>
    <div class="box">
      <p class="family3">A <b class="family2">Noun</b> is the name of a person, place, or thing. <ins class="family4">Sidewalks, umbrella, bridle, bathtub, and nose</ins> are <b class="family2">noun.</b></p>
    </div>
    <div class="box">
      <p class="family3">A <b class="family2">Verb</b> is an action word. <ins class="family4">Run, pitch, jump and swim</ins> are <b class="family2">verbs.</b> Put <b class="family2">verbs</b> in past tense if the direction says PAST TENSE. <ins class="family4">Ran, pitched, jumped, and swam</ins> are <b class="family2">verbs</b> in past tense.</p>
    </div>
    <div class="box">
      <p class="family3">A <b class="family2">Adjective</b> describes something or somebody. <ins class="family4">Lumpy, soft, ugly, messy, and short</ins> are <b class="family2">Adjective</b>
    </div>
  </div>
</body>
  

</html>